.rubiks
  position: relative;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at bottom center, #999 0%, transparent 50%);
  background-size: 90% 8%;
  background-repeat: no-repeat;
  background-position: bottom center;
  overflow: hidden;
  &__button
    position: absolute;
    bottom: BS * 100;
    right: BS * 100;
    border-radius: 50%;
    border: solid BS*10 #000;
    width: BS * 120;
    height: BS * 120;
    background: White;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    &:hover
      transform: scale(0.95);
    &:active
      transform: scale(1);
    &:focus
      outline: none;
  &__svgwrapper
    position: relative;
  &__canvas
    width: BS * 80;
  &__svg
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);


@media BreakpointMAX
  .rubiks
    &__button
      width: 120px;
      height: 120px;
      border-width: 10px;
    &__canvas
      width: 80px;


@media BreakpointXS
  .rubiks
    &__button
      width: BS * 250;
      height: BS * 250;
    &__canvas
      width: BS * 200;
